.footer {
  background-color: var(--escuro);
  text-align: center;
  display: grid;
}
.footer h3 {
  margin-top: 80px;
  margin-bottom: 20px;
}
.footer .botao {
  color: var(--branco);
  border: 2px solid var(--branco);
  max-width: fit-content;
  justify-self: center;
  margin-top: 28px;
  margin-bottom: 60px;
}
.footer .botao:hover {
  color: var(--escuro) !important;
  background-color: var(--branco);
}
.footer .redes-animation {
  justify-self: center;
}
.footer .rodape {
  margin-top: 80px;
  margin-bottom: 40px;
}
@media (max-width: 900px) {
  .footer h3 {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .footer .botao {
    margin-bottom: 40px;
  }
  .footer .rodape {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
