#port {
  padding-top: 150px;
}
#port p {
  max-width: 60ch;
  margin-top: 20px;
}
#central {
  display: flex;
  justify-content: center;
}
.info-port {
  display: flex;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
}
.botao-port {
  min-width: max-content;
  margin-left: 12px;
}
@media (max-width: 900px) {
  #port {
    padding-top: 120px;
  }
}
