.portfolio {
  text-align: center;
}
.grid-portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.caixa-img-portfolio {
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.imagem-port:hover {
  transition: all 5s ease-in-out;
  transform: translateY(calc(-100% + 400px));
}
.imagem-port {
  transition: all 5s ease-in-out;
}

@media (max-width: 900px) {
  .grid-portfolio {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .caixa-portfolio {
    justify-self: center;
  }
  .caixa-img-portfolio {
    height: 300px;
  }
  .imagem-port:hover {
    transition: none;
    transform: none;
  }
}
